<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tambah Bea Lelang</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Tambah Bea Lelang</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tambah Bea Lelang </h3>


            </div>
            <form  [formGroup]="beaForm">
                <div class="card-body">
                    <div class="row">
                        

                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Jenis Transaksi
                            </label>
                            <select class="form-control" formControlName="jenisTransaksi">
                                <option value="SSP">SSP</option>
                                <option value="SSBP">SSBP</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Nomor Transaksi

                            </label>
                            <input type="text" class="form-control" formControlName="nomorTransaksi">
                        </div>
                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Nomor BPN

                            </label>
                            <input type="text" class="form-control" id="suratttp" formControlName="nomorBPN">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Kode Map

                            </label>
                            <input type="text" class="form-control"  formControlName="kodeMAP">
                        </div>


                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Pokok Lelang
                            </label>
                            <input type="text"  [value]="trans.pokokLelang?trans.pokokLelang:'0'" disabled  
                                class="form-control" id="tglsuratttp">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Bea Lelang Penjual
                            </label>
                            <input type="text" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" [value]="trans.beaLelangPenjual?trans.beaLelangPenjual:'0'" disabled data-type="currency"
                                class="form-control" id="tglsuratttp">
                        </div>
                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Bea Lelang Pembeli
                            </label>
                            <input type="text" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"[value]="trans.beaLelangPembeli?trans.beaLelangPembeli:'0'" disabled data-type="currency"
                                class="form-control" id="tglsuratttp">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Tanggal Penyerahan Kutipan Risalah Lelang
                            </label>
                            <input type="text" class="form-control" id="tglsuratttp" [value]="trans.beaLelangPembeli?trans.beaLelangPembeli:''" disabled >
                        </div>
                        <div class="form-group col-xl-6 ">
                            <label for="tanggalSuratPenetapanJadwalLelang">Tanggal Lelang </label>
                            <input type="text" onClick="showDatePicker(this);" [value]="trans.tanggalLelang?trans.tanggalLelang:''" disabled class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xl-6 ">
                            <label for="tanggalSuratPenetapanJadwalLelang">Tanggal Setor </label>
                            <input type="date"  formControlName="tanggalPenyetoran" class="form-control">
                        </div>
                        <div class="form-group col-xl-6 ">
                            <label for="exampleInputEmail1">Keterangan
                            </label>
                            <input type="text" class="form-control"  formControlName="keterangan">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Upload Bukti Bea Lelang (<0.5 Mb)</label>
                        <div class="input-group">
                            <input type="file" class="file-upload"
                                formControlName="fileJenisTransaksi" (change)="uploadFile($event)">

                            <div class="input-group-append">
                                <a (click)="submitFile()" class="btn-transparent"><span class="input-group-text">Upload</span></a>&nbsp;
                                <a *ngIf="responseUpload" target="_blank" [href]= "(responseUpload)?responseUpload.data:''" class="btn-transparent"><span class="input-group-text">Preview</span></a>
                                 
                            </div>
                        </div>
                    </div>
                    <!-- Progress Bar -->
                    <div class="progress form-group" *ngIf="prog > 0">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                            [style.width.%]="prog">
                        </div>
                    </div>


                </div>
            </form>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="button" (click)="savetransaksi()" class="btn btn-primary">Tambah Bea Lelang</button>
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->