<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Home</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Pelaporan</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
         
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    <a href="/periode" >
                    <app-button class="mb-2" [block]="true" [loading]="false" [disabled]="false"
                        [icon]="'blank'">
                        Tambah Periode
                    </app-button>
                </a>
                </div>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Cari">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>Tahun </th>
                            <th colspan="2">Jadwal Lelang</th>
                            <th colspan="2">Transaksi Lelang</th>
                            <th colspan="2">Bea Lelang</th>
                            <th colspan="2">BPHTB</th>
                            <th colspan="2">Kertas Sekuriti</th>
                        </tr>
                        <tr>
                            <th> </th>
                            <th >Tersimpan</th>
                            <th >Terkirim</th>
                            <th >Tersimpan</th>
                            <th >Terkirim</th>
                            <th >Tersimpan</th>
                            <th >Terkirim</th>
                            <th >Tersimpan</th>
                            <th >Terkirim</th>
                            <th >Tersimpan</th>
                            <th >Terkirim</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of listPeriode">
                            <td>{{data.tahun}}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                         
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Main row -->
</section>
<!-- /.content -->